<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CreditDBConnectionString" connectionString="workstation id=FabricioCloud.mssql.somee.com;packet size=4096;user id=fabricio001_SQLLogin_1;pwd=fabricio001.;data source=FabricioCloud.mssql.somee.com;persist security info=False;initial catalog=FabricioCloud" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Credit.Rest.CreditService" >

         <!-- REST service return json -->
        <!--To call this endpoint use: [service].svc/json/[method_Name]-->
        <endpoint address=""
                  binding="webHttpBinding" behaviorConfiguration="webHttpBehavior"
                  contract="Credit.Rest.ICreditService" />

        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript/>
          <!-- use JSON serialization -->
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp/>
          <!-- use XML serialization -->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <!--customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST" />        
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders-->
    </httpProtocol>
  </system.webServer>
</configuration>
